@value desktop from '@/styles/Breakpoints.module.css';

.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(24px);
  color: var(--yt-spec-text-primary);
}

.mobileSearchIconWrapper {
  padding: 12px 0;
  color: var(--yt-spec-text-primary);
}

@media (desktop) {
  .mobileSearchIconWrapper {
    display: none;
  }

  .desktopHamburgerIcon {
    color: var(--yt-spec-text-primary);
    padding: 8px;
    cursor: pointer;
  }

  .desktopHamburgerIcon:hover {
    border-radius: 50%;
    background-color: var(--yt-spec-10-percent-layer);
  }

  .logoSection {
    display: flex;
    align-items: center;
    justify: center;
  }

  .logoWrapper {
    padding: 18px 14px 18px 16px;
  }

  .header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}